* {
	margin:0;
	padding:0;
}

body {
	font-size:62.5%;
	font-family:'Roboto', arial, sans-serif;
}

.container {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.bg1 { background-color:#D4E6F7; }
.bg2 { background-color:#ABD3C6; }
.bg3 { background-color:#EDFFA8; }
.bg4 { background-color:#E5D7E8; }
.bg5 { background-color:#E5F9E7; }
.bg6 { background-color:#F9C7CC; }
.bg7 { background-color:#F9E0C7; }

header h1 {
	font-family: 'Montserrat', arial, sans-serif;
	font-size:8em;
	text-align:center;
	margin:20px;
}

.movie {
	width:20%;
	box-sizing:border-box;
	height:450px;
	background-size:cover;
	background-position:center center;
	overflow:hidden;
	position:relative;
	border:20px solid #fff;
	cursor:pointer;
}

.movie h2 {
	color:#000;
	text-align:center;
	font-size:1.8em;
	padding:10px;
	position:absolute;
	bottom:0;
	width:100%;
	box-sizing:border-box;
	z-index:15;
}

.overlay {
	display:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(0,0,0,.45);
	z-index:5;
}

p.more-info {
	position:absolute;
	text-align:center;
	top:50%;
	transform:translateY(-50%);
	z-index:10;
	width:100%;
	box-sizing: border-box;
}

p.more-info a {
	display:none;
	text-decoration: none;
	height:87px;
	width:75px;
	direction:ltr;
	text-indent:-9999px;
	overflow:hidden;
	background:transparent url(../../i/detail.png) 0 0 no-repeat;
	margin:0 auto;
}

.movie:hover {
	border:none;
}

.movie:hover .overlay,
.movie:hover p.more-info a {
	display:block;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.movie:hover p.more-info a {
	/*display:none;*/
	-webkit-animation-name: tada;
	animation-name: tada;
}

@media screen and (max-width:1400px){
	.movie { height:400px; }
}

@media screen and (max-width:1000px){
	.movie { height:300px; }
}

@media screen and (max-width:800px){
	.movie {
		height:300px;
		width:25%;
	}
}

@media screen and (max-width:720px){
	.movie {
		height:300px;
		width:33.333333%;
	}
}

@media screen and (max-width:640px){
	.movie {
		height:500px;
		width:50%;
	}
}








